<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager - Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="{{ url_for('static', filename='logo2.png') }}" alt="Task Manager Logo" class="logo">
            <h1>Welcome to Task Manager</h1>
        </nav>
    </header>
    <main>
        <div class="homepage-container">
            <p>Welcome to the Task Manager. Organize your tasks efficiently.</p>
            <div class="auth-options">
                <a href="{{ url_for('show_login') }}" class="btn-123">Login</a>
                <a href="{{ url_for('show_register') }}" class="btn-123">Register</a>
            </div>
        </div>
    </main>
</body>
</html>
