<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile - Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="{{ url_for('static', filename='logo2.png') }}" alt="Task Manager Logo" class="logo">
            <h1>Task Manager</h1>
        </nav>
    </header>
    <main>
        <div class="header-container">
            <h2>Tasks for {{ username }}</h2>
            <form action="/logout" method="post" class="logout-form">
                <button type="submit" class="logout-btn">Logout</button>
            </form>            
        </div>
        <div class="task-container">
            {% for task in tasks %}
                <div class="task-card">
                    <div class="task-display">
                        <h3>{{ task['name'] }}</h3>
                        <p>{{ task['info'] }}</p>
                        <span class="status">{{ task['status'] }}</span>
                        <div class="task-actions">
                            <a href="{{ url_for('index', edit=task['_id']|string) }}" class="btn edit-btn">Update</a>
                            <a href="{{ url_for('delete_task', task_id=task['_id']) }}" class="btn delete-btn">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>
</body>
</html>
