<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile - Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="{{ url_for('static', filename='logo2.png') }}" alt="Task Manager Logo" class="logo">
            <h1>Task Manager</h1>
        </nav>
    </header>
    <main>
        <div class="header-container">
            <h2>Tasks for {{ username }}</h2>
            <form action="/logout" method="post" class="logout-form">
                <button type="submit" class="logout-btn">Logout</button>
            </form>            
        </div>
        <div class="task-container">
            {% for task in tasks %}
            <div class="task-card">
                {% if request.args.get('edit') == task['_id']|string %}
                    <!-- Editable Form for the Task -->
                    <form action="{{ url_for('update_task', task_id=task['_id']) }}" method="post">
                        <input type="text" name="name" value="{{ task['name'] }}" required>
                        <input type="text" name="info" value="{{ task['info'] }}" required>
                        <select name="status">
                            <option value="Pending" {% if task['status'] == 'Pending' %}selected{% endif %}>Pending</option>
                            <option value="Done" {% if task['status'] == 'Done' %}selected{% endif %}>Done</option>
                        </select>
                        <button type="submit" class="btn save-btn">Save</button>
                    </form>
                {% else %}
                    <!-- Display Task Details -->
                    <h3>{{ task['name'] }}</h3>
                    <p>{{ task['info'] }}</p>
                    <span class="status">{{ task['status'] }}</span>
                    <div class="task-actions">
                        <a href="{{ url_for('user_profile', username=username, edit=task['_id']) }}" class="btn edit-btn">Edit</a>
                        <a href="{{ url_for('delete_task', task_id=task['_id']) }}" class="btn delete-btn">Delete</a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
        <form action="{{ url_for('add_task') }}" method="post" class="add-task-form">
            <input type="text" id="taskName" name="name" placeholder="Task Name" required>
            <input type="text" id="taskinfo" name="info" placeholder="Task Info" required>
            <select id="taskStatus" name="status">
                <option value="Pending">Pending</option>
                <option value="Done">Done</option>
            </select>
            <button type="submit">Add Task</button>
        </form>
    </main>
</body>
</html>
